language: objective-c # force osx machines

os:
 - osx

env:
  global:
   - secure: OYC9Mq33uGyJTp/yb9IzXDzYRXuO2M29uXTpRYGJgfWlZaas73hVX1O4LBjHAdXXxPvo53XtGzA/1j5dP/PPRJqddowx0yxSIsUVXIRNNiWLXg2yN88qNn0GuiFwK3a1YRVFPQ9MjjFXvLB96TzNRJJBZW+gQvHKwI9g5cYtYvk=
   - secure: J/M1/WIRgP4GssMr9HS9k7Wr9XUqlo0S+olIVWvr8eY8jxxVbx+ONZbkkjKey2BvC1BRVtRXpbBe+YcPLYe7V1jG5mmm3Lc1B/x5WC54q4KKfoV53m+ARAtaHFYrJY2h4O+GLaysQoCwCG/tAt0GhJmgJgy9IojH4ojJjDOGHCE=

notifications:
 slack: remotetech:UMyObqwkLCHGWqwBQ6ZVznxF

before_install:
 - date -u
 - uname -a
 - export BUILDTAG=`git describe --abbrev=0 --tags`
 - env | sort | grep -v ZIPPASSWORD | grep -v GITHUB_TOKEN

install:
 - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then echo "Should only be on OSX"; exit 1; fi
 - ./CI/travis.osx.install.deps.sh # it appears TRAVIS_OS_NAME is unset often, assume we're OSX if not linux

script:
 - ./build.remotetech.sh

# Custom deploy
after_success:
 - ./CI/github.build.deploy.sh