<html>
<head>
	<meta charset="utf-8">
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#">RemoteTech</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class=""><a href="#">FAQ</a></li>
				<li class=""><a href="#">Guide</a></li>
				<li class=""><a href="#">Tutorial</a></li>
			</ul>
		</div>
	</div>
</nav>

