<html>
<head>
	<meta charset="utf-8">
	<link href="{{ site.baseurl }}/stylesheets/bootstrap.min.css" rel="stylesheet">
	<!-- Please do not let default formatting override specific styles -->
	<link href="{{ site.baseurl }}/stylesheets/main.css" rel="stylesheet">
	{% if page.custom_css %}
		<link href="{{ site.baseurl }}/stylesheets/{{ page.extra_css }}.css" rel="stylesheet">
	{% endif %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<title>{{ page.title }}</title>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
		  <button hidden="true" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-data">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="{{ site.baseurl }}">Quick Glance</a>
		</div>
		<div class="" id="navbar-data">
			<ul class="nav navbar-nav">
				{% for page in site.pages %}
					{% if page.navbar %}
						<li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
<script>
<!-- Let's respect those mobile users who disable javascript. -->
$("#navbar-data").addClass("collapse navbar-collapse");
$(".navbar-toggle").prop("hidden", false);
</script>

