/** Custom CSS for pretty display of antenna specs
 * @date Created March 11, 2014
 * @date Last modified Nov 16, 2016
 */

div.antenna {
	border-width: 1px;
	border-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 3px;
	border-color: rgb(192,192,192);
	background-color: rgb(248,248,248);
}

div.antenna h3 {
	margin-top: 2;
}

div.antenna img {
	float: left;
	clear: left;
	padding-right: 5px;
}

div.antenna p.blurb {
	float: none;
	clear: right;
	/* Acts as a right-justified maximum width */
	margin-left: 30%;
}

/* Spacer to ensure the visible box includes all the floats */
div.antenna hr {
	visibility: hidden;
	height: 0px;
	padding: 0px;
	margin: 0px;
	float: none;
	clear: both;
}

div.antenna .basic {
	float: right;
	clear: right;
	width: 55%;
	margin-bottom: 10px;
}

div.antenna .xmit {
	float: right;
	clear: right;
	width: 55%;
}

div.antenna .atm {
	float: right;
	clear: none;
	width: 55%;
	margin-top: 10px;
}

div.antenna .basic tbody, div.antenna .xmit tbody, div.antenna .atm tbody{
	vertical-align: text-top;
}

div.antenna .basic td, div.antenna .xmit td {
	width: 50%;
}
