.header {
	font-size: 42px;
	margin: auto;
	margin-bottom: 1em;
	width: 500px;
	color: #525252;
	vertical-align: center;
}

.header .sub {
	font-size: 20px;
	font-style: italic;
	color: #8C8C8C;
}

ul.inline {
	padding-left: 0px;
	list-style: none;
}

ul.inline > li {
	display: inline-block;
}

.buttons {
	margin-bottom: 1em;
}

.logo {
	background: url(http://placehold.it/96x96) no-repeat;
	height: 96px;
	width: 96px;
	margin-right: 10px;
	float: left;
}

.content {
	width: 820px;
	margin: auto;
}